@import "mixin";
// for whole width & height
html,
body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    background-color: #fff;
    line-height: 150%;
    -webkit-font-smoothing: antialiased;
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
        font-size: 1rem;
    }
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
        font-size: 1.05rem;
    }
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
        font-size: 1.1rem;
    }
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 50;
}

.black {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 51;
}

.pop_coupon {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 75%;
    background-color: white;
    z-index: 52;
    text-align: center;
    h2 {
        p {
            font-size: 2rem;
            margin-bottom: 10px;
        }
        color: $skin;
        font-size: 1.3rem;
        font-weight: 800;
        margin-top: 13%;
        @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
            margin-top: 15%;
        }
        @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
            margin-top: 17%;
        }
    }
    h3 {
        color: #666;
        font-size: 0.8rem;
        margin-top: 8px;
    }
    a.close {
        position: absolute;
        top: -30px;
        right: 0;
        display: block;
    }
    .coupon_box {
        width: 85%;
        margin: 10px auto 10px auto;
        img {
            width: 100%;
        }
    }
    a.btn {
        @include btnstyle($skin, 80%, 50px, 0px, 5px);
    }
}

//轉正
.turn {
    width: 100%;
    height: 100%;
    background-color: $skin;
    text-align: center;
    position: relative;
    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        p{
            color: white;
            font-weight: 500;
            letter-spacing: 2px;
        }
    }
}
.loading{
    background-color: white;
    width: 100%;
    height: 100%;
    img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
