<div class="pop-title">兌換記錄</div>
<ul class="list-group">
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    <div class="time">
      2016-10-11 PM 09:00
    </div>
    <div class="money">兌換金額：3,500</div>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    <div class="time">
      2016-10-11 PM 09:00
    </div>
    <div class="money">兌換金額：3,500</div>
  </li>
  <li class="list-group-item">
    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
    <div class="time">
      2016-10-11 PM 09:00
    </div>
    <div class="money">兌換金額：3,500</div>
  </li>
</ul>
