<!--section4 start-->
<!--填寫帳戶資料-->
<section class="section4">
  <h3 class="title">申請獎金</h3>
  <div class="tips">獎金若不足3000元，郵資匯費由活動參與者吸收</div>
  <div class="money-cont-s">
    <div class="money">2,500元</div>
    <div class="money-txt">可兌換獎金</div>
    <div class="money-pic"><img src="../assets/img/money.png" alt=""></div>
  </div>
  <div class="cont">
    <div class="cont-left">
      {{mytype}}
      <form role="form" [formGroup]="twddForm" (ngSubmit)="onSubmit()">
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="myname">姓名</label>
          <input type="text" class="form-control" formControlName="myname" id="myname" placeholder="請輸入正確姓名" required>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="exampleInputId">身份證</label>
          <input type="text" class="form-control" formControlName="idno" id="exampleInputId" placeholder="請填正確身份證號碼" required>
        </div>
        <div class="form-group form-group-lg col-xs-12">
          <label for="exampleInputAdd">地址</label>
          <input type="text" class="form-control"  formControlName="address" id="exampleInputAdd" placeholder="請填正確地址" required>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12">
          <label for="mytype">請選擇獎金申請方式</label>
          <select class="form-control" id="mytype" formControlName="type" [(ngModel)]="mytype" required>
            <option selected>現金匯款</option>
            <option>現金禮券</option>
          </select>
        </div>
        <div class="form-group form-group-lg col-sm-6 col-xs-12"  [hidden]="mytype!='現金禮券'">
          <label for="coupon">請選擇要申請的禮券</label>
          <select class="form-control" id="coupon" formControlName="coupon">
                <option>SOGO禮券</option>
                <option>7-11禮券</option>
                <option>全聯禮券</option>
              </select>
        </div>
        <!--滙款要填的帳戶資料-->
        <div class="account-info col-sm-12" [hidden]="mytype!='現金匯款'">
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="bankCode">銀行代碼</label>
            <select class="form-control" id="bankCode" formControlName="bankCode" [required]="mytype=='現金匯款'">
                  <option selected>請選擇</option>
                  <option *ngFor="let item of bankNum">{{item}}</option>
                </select>
          </div>
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="bankName">分行</label>
            <input type="text" class="form-control" id="bankName" formControlName="bankName" placeholder="請填寫分行名稱" [required]="mytype=='現金匯款'">
          </div>
          <div class="form-group form-group-lg col-xs-12">
            <label for="account">銀行帳號</label>
            <input type="text" onkeyup="this.value=this.value.replace(/[^0-9]/g,'')" class="form-control" id="account" formControlName="account" [required]="mytype=='現金匯款'">
          </div>
        </div>
        <div class="checkbox col-xs-12">
          <label>
                <input type="checkbox" formControlName="check"> 我已同意<a class="note-btn" href="javascript:;">活動條款</a>、獎金的稅務說明及發放說明
              </label>
        </div>
        <button type="submit" class="btn btn-default submit-btn btn-disable col-xs-12" [disabled]="!twddForm.valid">資料送出</button>
      </form>
    </div>
    <div class="cont-right money-cont">
      <div class="money">2,500元</div>
      <div class="money-txt">可兌換獎金</div>
      <div class="money-pic"><img src="../assets/img/money.png" alt=""></div>
    </div>
  </div>
</section>
<!--section4 end-->
