<!--選單-->
<nav id="nav" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="javascript:;">台灣代駕</a>-->
      <div class="logo">
        <a [routerLink]="['/']">
          <img src="../assets/img/logo.png" width="40">
        </a>
      </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" data-toggle="collapse" data-target=".nav-collapse.in"><a [routerLink]="['/']" (click)="homeBtn()">首頁</a></li>
        <li routerLinkActive="active" data-toggle="collapse" data-target=".nav-collapse.in"><a [routerLink]="['/pop/note']">活動辦法</a></li>
        <li routerLinkActive="active" data-toggle="collapse" data-target=".nav-collapse.in"><a [routerLink]="['/pop/qa']">服務Q&A</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<!--主選單 end-->
<div class="wrap">
  <!--banner start-->
  <section class="banner">
    <div class="cont">
      <div class="cont-left">
        <h1>台灣代駕</h1>
        <p>
          多一次代駕、少一次酒駕 <br> 分享台灣代駕APP，<span class="redTxt">300</span>元現金賺不停
        </p>
        <div class=" car">
          <img src="../assets/img/girls.png">
        </div>
        <div class="line"></div>
        <div class="banner-txt">
          夠交情喝兩杯，不酒駕平安歸！<br> 換帖真心推薦，現金獎勵回饋！
        </div>
        <button type="button" class="btn btn-secondary details-btn" [routerLink]="['/pop/details']">活動詳情</button>
      </div>
      <div class="cont-right">
        <img src="../assets/img/girls.png">
      </div>
    </div>
  </section>
  <!--banner end-->
  <!--section1 start-->
  <section class="section1">
    <h3 class="title">登入</h3>
    <div class="cont">
      <div class="cont-left">
        <h4>會員馬上登入分享即可享現金獎勵回饋!</h4>
        <form>
          <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-earphone" aria-hidden="true"></span>
            <input type="text" class="form-control" placeholder="你的手機號碼">
          </div>
          <div class="input-group input-group-lg">
            <span class="input-group-addon glyphicon glyphicon-asterisk" aria-hidden="true"></span>
            <input type="password" class="form-control" placeholder="密碼">
          </div>
          <button type="button" class="btn btn-secondary login-btn">登入</button>
        </form>
      </div>
      <div class="cont-right">
        <h3>還不是會員?</h3>
        <h4>馬上下載APP <br> 註冊台灣代駕會員</h4>
        <div class="phone"><img src="../assets/img/mobile.png" alt=""></div>
        <button type="button" class="btn btn-secondary app-btn">下載APP</button>
      </div>
    </div>
  </section>
  <!--section1 end-->
  <!--section2 start-->
  <section class="section2">
    <h3 class="title">分享邀請碼拿現金</h3>
    <div class="cont">
      <div class="cont-left">
        <img src="../assets/img/share.png" alt="">
      </div>
      <div class="cont-right">
        <div class="share-txt">
          <h4>分享邀請碼 <br> 被邀請人享三趟100元車資折抵， <br>邀請人享三趟各100元共計300元的現金回饋。</h4>
          <div class="share-btn">
            <button type="button" class="btn btn-secondary fb-btn">分享 <span><img src="../assets/img/fb-icon.svg" alt=""></span></button>
            <button type="button" class="btn btn-secondary line-btn">分享 <span><img src="../assets/img/line-icon.png" alt=""></span></button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--section2 end-->
  <!--section3 start-->
  <section class="section3">
    <h3 class="title">獎金查詢<span class="small-txt">邀請碼：abc123</span></h3>
    <div class="boxes">
      <div class="box">
        <div class="history-pic">
          <img src="../assets/img/history.png" width="120">
        </div>
        <button type="button" class="btn btn-secondary history-btn" [routerLink]="['/pop/history']">您的分享記錄</button>
      </div>
      <div class="box">
        <div class="txt">邀請碼使用量</div>
        <div class="balls">
          <div class="ball b1">15<span>／0次</span></div>
          <div class="ball b2">10<span>／0次</span></div>
          <div class="ball b3">6<span>／0次</span></div>
          <div class="ball b4">2<span>／0次</span></div>
        </div>
        <div class="txt2">成功的被邀請人：33</div>
      </div>
      <div class="box">
        <div class="info info1">
          <div class="info-txt">累積獎金</div>
          <div class="info-num">2,500</div>
        </div>
        <div class="info">
          <div class="info-txt">已兌換</div>
          <div class="info-num">6,000</div>
        </div>
        <div class="btns">
          <button type="button" class="btn btn-secondary record-btn" [routerLink]="['/pop/exchange']" (click)="exchangeBtn()">兌換記錄</button>
          <button type="button" class="btn btn-secondary bonus-btn">申請獎金</button>
        </div>
      </div>
    </div>
  </section>
  <!--section3 end-->
  <!--section4 start-->
  <section class="section4">
    <h3 class="title">獎金申請</h3>
    <div class="tips">獎金若不足3000元，郵資匯費由活動參與者吸收</div>
    <div class="money-cont-s">
      <div class="money">2,500元</div>
      <div class="money-txt">可兌換獎金</div>
      <div class="money-pic"><img src="../assets/img/money.png" alt=""></div>
    </div>
    <div class="cont">
      <div class="cont-left">
        <form role="form">
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="myname">姓名</label>
            <input type="text" class="form-control" id="myname" placeholder="請輸入正確姓名">
          </div>
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="exampleInputId">身份證</label>
            <input type="text" class="form-control" id="exampleInputId" placeholder="請填正確身份證號碼">
          </div>
          <div class="form-group form-group-lg col-xs-12">
            <label for="exampleInputAdd">地址</label>
            <input type="text" class="form-control" id="exampleInputAdd" placeholder="請填正確地址">
          </div>
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="mytype">請選擇獎金申請方式</label>
            <select class="form-control" id="mytype">
                <option>現金匯款</option>
                <option>現金禮券</option>
              </select>
          </div>
          <div class="form-group form-group-lg col-sm-6 col-xs-12">
            <label for="coupon">請選擇要申請的禮券</label>
            <select class="form-control" id="coupon">
                <option selected>請選擇</option>
                <option>SOGO禮券</option>
                <option>7-11禮券</option>
                <option>全聯禮券</option>
              </select>
          </div>
          <!--滙款要填的帳戶資料-->
          <div class="account-info col-sm-12">
            <div class="form-group form-group-lg col-sm-6 col-xs-12">
              <label for="bankCode">銀行代碼</label>
              <select class="form-control" id="bankCode">
                  <option selected>請選擇</option>
                  <option>822</option>
                </select>
            </div>
            <div class="form-group form-group-lg col-sm-6 col-xs-12">
              <label for="bankName">分行</label>
              <input type="text" class="form-control" id="bankName" placeholder="請填寫分行名稱">
            </div>
            <div class="form-group form-group-lg col-xs-12">
              <label for="account">銀行帳號</label>
              <input type="text" class="form-control" id="account">
            </div>
          </div>
          <div class="checkbox col-xs-12">
            <label>
                <input type="checkbox"> 我已同意<a class="note-btn" href="javascript:;">活動條款</a>、獎金的稅務說明及發放說明
              </label>
          </div>
          <button type="submit" class="btn btn-default submit-btn  col-xs-12">資料送出</button>
        </form>
      </div>
      <div class="cont-right money-cont">
        <div class="money">2,500元</div>
        <div class="money-txt">可兌換獎金</div>
        <div class="money-pic"><img src="../assets/img/money.png" alt=""></div>
      </div>
    </div>
  </section>
  <!--section4 end-->
</div>
<router-outlet></router-outlet>
