<div class="pop-title">活動辦法</div>
<ul class="note-list">
  <li>優惠金1點可抵扣1元的消費, 每筆消費可折抵100點(元)。</li>
  <li>所累積優惠金儲於綁定號碼的手機中, 手機內優惠金不得移轉至其它手機或門號使用，亦不得兌換現金。</li>
  <li>優惠券 : 消費時填入來自特約店家或DM上的優惠序號</li>
  <li>填寫服務評價 : 每次消費結束填寫服務評價可得20點</li>
  <li>刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。</li>
  <li>優惠金1點可抵扣1元的消費, 每筆消費可折抵100點(元)。</li>
  <li>所累積優惠金儲於綁定號碼的手機中, 手機內優惠金不得移轉至其它手機或門號使用，亦不得兌換現金。</li>
  <li>優惠券 : 消費時填入來自特約店家或DM上的優惠序號</li>
  <li>填寫服務評價 : 每次消費結束填寫服務評價可得20點</li>
  <li>刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。</li>
</ul>
