<div class="pop-title">活動辦法</div>
<ul class="note-list">
  <li><span class="title">現金回饋優惠活動對象:</span><br> 台灣代駕提供現金回饋給已註冊台灣代駕APP的會員，並透過邀請其他人入會，同時被邀請人有使用台灣代駕APP的代駕服務，並符合以下條件
    <ul>
      <li>被邀請人入會，會員註冊APP時必須貼寫邀請人的邀請碼</li>
      <li>被邀請人透過台灣代駕APP，使用台灣代駕的代駕服務並完成付款(電話呼叫不再回饋範圍內)</li>
      <li>優惠活動對象限定在本優惠活動期間內新註冊的台灣代駕APP會員及原註冊會員</li>
      <li>被邀請人前三次使用，提供給邀請人的現金回饋於活動期間內邀請人次不限</li>
      <li>被邀請人享前三趟100元的代駕費用折抵，邀請人享現金回饋</li>
    </ul>
  </li>
  <li><span class="title">優惠活動期間:</span><br>本優惠活動2016年12月1號開始，到達10萬人時結束優惠活動。本優惠活動沒有到達10萬人的話最長延長到2017年11月30號。</li>
  <li><span class="title">現金回饋方法:</span><br>我們會將現金回饋，匯款給會員提供的銀行帳號或SOGO、7-11、全聯擇一兌換等值現金禮券 請注意以下注意事項
    <br>
    <ul>
      <li>會員申請現金回饋，匯款或郵寄禮券最少要1~2周的時間，請您諒解</li>
      <li>萬一現金回饋匯款之前，會員更動或刪掉銀行帳戶的話我們無法執行現金回饋給客戶</li>
      <li>申請現金回饋的銀行匯費或郵寄禮券的郵資費用必須由會員自行吸收</li>
      <li>台灣代駕僅會將現金回饋餘額扣除匯費或郵資，一次匯入會員指定銀行帳戶或整筆兌換禮券（百元面額以上）不得分次領取</li>
      <li>若會員未在活動結束後的 90 天內領取現金回饋，該金額將被收回。且你無權將其追回或嘗試追回。台灣代駕也不會再度匯款。</li>
    </ul>
  </li>
  <li><span class="title">現金回饋金額:</span><br>
    <ul>
      <li>對於邀請新會員使用台灣代駕APP服務的邀請人，只要您的每個被邀請人透過台灣代駕APP完成使用並結帳付款的前三趟次服務。台灣代駕即依現金回饋方法，回饋每趟100元或等值禮券給邀請人。</li>
      <li>被邀請人享前三趟，每趟100元的代駕費用折抵。不得兌換現金或禮券。</li>
    </ul>
  </li>
  <li>刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。</li>
  <li>優惠金1點可抵扣1元的消費, 每筆消費可折抵100點(元)。</li>
  <li>所累積優惠金儲於綁定號碼的手機中, 手機內優惠金不得移轉至其它手機或門號使用，亦不得兌換現金。</li>
  <li>優惠券 : 消費時填入來自特約店家或DM上的優惠序號</li>
  <li>填寫服務評價 : 每次消費結束填寫服務評價可得20點</li>
  <li>刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。刮刮樂：andriod版提供刮刮樂遊戲。每天可刮一次，金額最高100點。</li>
</ul>
